html {
  /* height: 100%;
  width: 100%; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* overflow: hidden; */
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 46px 1268px #fff, 1817px 256px #fff, 1877px 1746px #fff,
    637px 1483px #fff, 115px 1880px #fff, 402px 945px #fff, 822px 205px #fff,
    1068px 152px #fff, 846px 1010px #fff, 1908px 323px #fff, 1357px 1950px #fff,
    1457px 1062px #fff, 1189px 1065px #fff, 562px 52px #fff, 1803px 470px #fff,
    372px 6px #fff, 1729px 256px #fff, 666px 340px #fff, 797px 961px #fff,
    539px 1814px #fff, 969px 528px #fff, 107px 945px #fff, 886px 876px #fff,
    1201px 675px #fff, 1400px 1349px #fff, 169px 247px #fff, 1798px 1224px #fff,
    474px 373px #fff, 1295px 221px #fff, 1859px 167px #fff, 61px 1531px #fff,
    1268px 1890px #fff, 1024px 1869px #fff, 1102px 1018px #fff,
    1835px 1462px #fff, 365px 1784px #fff, 590px 1907px #fff, 1274px 146px #fff,
    1295px 1594px #fff, 434px 1148px #fff, 1490px 474px #fff, 8px 1707px #fff,
    1833px 955px #fff, 1965px 1652px #fff, 111px 154px #fff, 1417px 1452px #fff,
    1493px 930px #fff, 1209px 712px #fff, 808px 1424px #fff, 31px 946px #fff,
    562px 404px #fff, 1562px 234px #fff, 1519px 1987px #fff, 488px 338px #fff,
    1339px 1721px #fff, 534px 431px #fff, 231px 124px #fff, 556px 1684px #fff,
    827px 368px #fff, 713px 1230px #fff, 1093px 308px #fff, 396px 1301px #fff,
    1694px 1139px #fff, 1422px 848px #fff, 183px 1002px #fff, 1409px 1701px #fff,
    819px 811px #fff, 731px 894px #fff, 873px 480px #fff, 640px 296px #fff,
    1343px 1258px #fff, 1493px 1662px #fff, 36px 20px #fff, 40px 328px #fff,
    618px 294px #fff, 137px 706px #fff, 206px 463px #fff, 863px 694px #fff,
    1416px 630px #fff, 1967px 1179px #fff, 1462px 672px #fff, 1003px 70px #fff,
    481px 22px #fff, 643px 1290px #fff, 1627px 1546px #fff, 322px 78px #fff,
    79px 1963px #fff, 1248px 1356px #fff, 1530px 26px #fff, 878px 900px #fff,
    271px 1457px #fff, 1685px 73px #fff, 1819px 1142px #fff, 1793px 301px #fff,
    321px 397px #fff, 107px 689px #fff, 1454px 1947px #fff, 1878px 1476px #fff,
    1053px 1541px #fff, 1523px 425px #fff, 374px 1085px #fff, 953px 1161px #fff,
    769px 1463px #fff, 688px 157px #fff, 1105px 438px #fff, 658px 1524px #fff,
    151px 613px #fff, 1511px 653px #fff, 1277px 989px #fff, 731px 19px #fff,
    1825px 396px #fff, 1116px 998px #fff, 1354px 1105px #fff, 39px 130px #fff,
    1239px 1093px #fff, 635px 1699px #fff, 613px 748px #fff, 1953px 529px #fff,
    63px 796px #fff, 405px 1698px #fff, 1454px 918px #fff, 626px 470px #fff,
    1821px 1004px #fff, 147px 1051px #fff, 1173px 1960px #fff, 678px 293px #fff,
    803px 63px #fff, 426px 1173px #fff, 1528px 1345px #fff, 686px 791px #fff,
    438px 96px #fff, 14px 1764px #fff, 242px 1430px #fff, 1128px 1417px #fff,
    967px 1019px #fff, 286px 1603px #fff, 1860px 370px #fff, 1795px 764px #fff,
    504px 1273px #fff, 830px 922px #fff, 1036px 919px #fff, 155px 1109px #fff,
    779px 1794px #fff, 470px 831px #fff, 132px 574px #fff, 1764px 1502px #fff,
    281px 1358px #fff, 1699px 95px #fff, 1306px 662px #fff, 1067px 1824px #fff,
    1276px 739px #fff, 1900px 796px #fff, 273px 1161px #fff, 658px 590px #fff,
    1472px 406px #fff, 812px 1872px #fff, 371px 1168px #fff, 1328px 511px #fff,
    742px 35px #fff, 401px 716px #fff, 17px 824px #fff, 933px 91px #fff,
    696px 1648px #fff, 773px 1000px #fff, 1794px 1892px #fff, 1489px 1257px #fff,
    1128px 960px #fff, 1999px 1567px #fff, 769px 1360px #fff, 1514px 1064px #fff,
    1622px 36px #fff, 483px 1428px #fff, 27px 439px #fff, 7px 560px #fff,
    1277px 232px #fff, 652px 1937px #fff, 1251px 363px #fff, 1786px 49px #fff,
    1048px 480px #fff, 1958px 1637px #fff, 830px 67px #fff, 1289px 1992px #fff,
    1916px 815px #fff, 1996px 1451px #fff, 664px 832px #fff, 1557px 510px #fff,
    59px 1162px #fff, 1880px 1677px #fff, 1987px 446px #fff, 120px 50px #fff,
    1451px 709px #fff, 662px 411px #fff, 279px 1264px #fff, 1274px 1078px #fff,
    950px 1083px #fff, 1656px 1370px #fff, 1058px 902px #fff, 800px 1885px #fff,
    1473px 1297px #fff, 784px 159px #fff, 1029px 1350px #fff, 22px 1181px #fff,
    600px 660px #fff, 1465px 364px #fff, 303px 1565px #fff, 1535px 279px #fff,
    1480px 1856px #fff, 162px 1109px #fff, 145px 844px #fff, 116px 1958px #fff,
    1310px 905px #fff, 412px 1667px #fff, 30px 1618px #fff, 1425px 1499px #fff,
    647px 1069px #fff, 1146px 536px #fff, 1606px 623px #fff, 1235px 1794px #fff,
    1602px 1607px #fff, 632px 1px #fff, 242px 168px #fff, 601px 192px #fff,
    549px 1917px #fff, 1234px 510px #fff, 718px 1100px #fff, 1524px 138px #fff,
    700px 1552px #fff, 574px 698px #fff, 1510px 28px #fff, 945px 1102px #fff,
    420px 1961px #fff, 1867px 1780px #fff, 170px 1281px #fff, 1753px 936px #fff,
    243px 517px #fff, 792px 924px #fff, 1645px 1948px #fff, 909px 1483px #fff,
    458px 1935px #fff, 1786px 1091px #fff, 281px 1604px #fff, 600px 810px #fff,
    1750px 579px #fff, 361px 266px #fff, 735px 17px #fff, 1309px 1111px #fff,
    655px 151px #fff, 412px 435px #fff, 1047px 806px #fff, 1599px 1176px #fff,
    501px 1147px #fff, 1734px 1788px #fff, 1365px 1331px #fff, 1387px 401px #fff,
    624px 1439px #fff, 789px 1141px #fff, 883px 1333px #fff, 1170px 1196px #fff,
    1815px 1795px #fff, 1609px 1223px #fff, 407px 883px #fff, 347px 1835px #fff,
    725px 1655px #fff, 230px 406px #fff, 1664px 225px #fff, 1075px 1797px #fff,
    1421px 1545px #fff, 86px 1460px #fff, 532px 242px #fff, 1516px 1246px #fff,
    59px 1372px #fff, 1172px 1036px #fff, 920px 50px #fff, 293px 412px #fff,
    716px 1175px #fff, 807px 1548px #fff, 1521px 595px #fff, 775px 1514px #fff,
    348px 1858px #fff, 817px 1277px #fff, 1175px 1497px #fff, 425px 11px #fff,
    1847px 786px #fff, 1038px 518px #fff, 887px 1371px #fff, 698px 1377px #fff,
    1810px 1413px #fff, 1406px 201px #fff, 1118px 1985px #fff, 671px 561px #fff,
    11px 1916px #fff, 1921px 641px #fff, 611px 495px #fff, 1522px 297px #fff,
    1147px 1560px #fff, 1890px 105px #fff, 1990px 395px #fff, 324px 1004px #fff,
    1060px 106px #fff, 1797px 126px #fff, 1170px 944px #fff, 720px 1376px #fff,
    940px 1621px #fff, 1804px 430px #fff, 1721px 1268px #fff, 1013px 581px #fff,
    1207px 1347px #fff, 220px 310px #fff, 1192px 296px #fff, 1895px 311px #fff,
    1675px 514px #fff, 758px 856px #fff, 1286px 1654px #fff, 1721px 645px #fff,
    750px 86px #fff, 689px 1698px #fff, 971px 1692px #fff, 1560px 1412px #fff,
    842px 578px #fff, 881px 1331px #fff, 1713px 1362px #fff, 1544px 799px #fff,
    717px 1513px #fff, 1432px 1136px #fff, 473px 550px #fff, 839px 1907px #fff,
    509px 392px #fff, 1023px 588px #fff, 1941px 855px #fff, 1870px 894px #fff,
    1699px 1056px #fff, 1866px 609px #fff, 1185px 401px #fff, 1039px 923px #fff,
    1097px 1664px #fff, 1711px 580px #fff, 1077px 1034px #fff,
    1266px 1256px #fff, 1472px 1039px #fff, 1372px 404px #fff, 1079px 681px #fff,
    951px 1031px #fff, 1613px 691px #fff, 745px 1555px #fff, 1175px 1486px #fff,
    1264px 1212px #fff, 217px 34px #fff, 667px 666px #fff, 676px 1651px #fff,
    1846px 1873px #fff, 1505px 974px #fff, 1435px 1761px #fff, 191px 1830px #fff,
    284px 1146px #fff, 598px 99px #fff, 1206px 855px #fff, 1996px 1265px #fff,
    1071px 1133px #fff, 1802px 1719px #fff, 1787px 564px #fff, 179px 2000px #fff,
    326px 387px #fff, 1628px 1437px #fff, 113px 1752px #fff, 279px 1103px #fff,
    1646px 1131px #fff, 1830px 1786px #fff, 1222px 942px #fff, 878px 1197px #fff,
    299px 1729px #fff, 1554px 964px #fff, 1293px 1361px #fff, 237px 1962px #fff,
    1448px 718px #fff, 1426px 609px #fff, 789px 429px #fff, 72px 1170px #fff,
    1979px 1961px #fff, 372px 930px #fff, 153px 611px #fff, 1428px 176px #fff,
    796px 13px #fff, 1695px 296px #fff, 226px 800px #fff, 1802px 529px #fff,
    1387px 915px #fff, 624px 1296px #fff, 1458px 1350px #fff, 1827px 827px #fff,
    1199px 140px #fff, 1388px 987px #fff, 455px 1994px #fff, 1385px 1251px #fff,
    816px 1370px #fff, 978px 206px #fff, 1850px 888px #fff, 989px 1043px #fff,
    406px 1492px #fff, 1908px 1466px #fff, 326px 1551px #fff, 1291px 1722px #fff,
    1714px 129px #fff, 1503px 115px #fff, 772px 695px #fff, 1079px 409px #fff,
    1616px 1547px #fff, 340px 1364px #fff, 12px 1627px #fff, 72px 766px #fff,
    737px 1559px #fff, 175px 610px #fff, 459px 664px #fff, 1404px 1301px #fff,
    1149px 1119px #fff, 689px 1533px #fff, 528px 1177px #fff, 1405px 751px #fff,
    1905px 1820px #fff, 1233px 926px #fff, 1974px 677px #fff, 1303px 1127px #fff,
    1234px 1263px #fff, 1866px 178px #fff, 324px 42px #fff, 449px 1119px #fff,
    1914px 129px #fff, 1756px 210px #fff, 660px 1725px #fff, 936px 123px #fff,
    45px 1097px #fff, 708px 1348px #fff, 568px 1102px #fff, 1774px 1268px #fff,
    1727px 1063px #fff, 454px 442px #fff, 1632px 147px #fff, 1527px 1221px #fff,
    1917px 870px #fff, 1019px 1052px #fff, 362px 594px #fff, 726px 685px #fff,
    1929px 1223px #fff, 409px 1796px #fff, 341px 793px #fff, 1338px 1700px #fff,
    1284px 979px #fff, 1856px 163px #fff, 1800px 128px #fff, 1762px 1428px #fff,
    1046px 1574px #fff, 1129px 1981px #fff, 1476px 1815px #fff, 563px 87px #fff,
    1938px 531px #fff, 1115px 1296px #fff, 399px 709px #fff, 1027px 1052px #fff,
    552px 1683px #fff, 1725px 585px #fff, 109px 291px #fff, 407px 1911px #fff,
    1396px 1516px #fff, 231px 1927px #fff, 1852px 1322px #fff, 1257px 855px #fff,
    1974px 1352px #fff, 1013px 958px #fff, 724px 517px #fff, 93px 1226px #fff,
    167px 513px #fff, 372px 1073px #fff, 1077px 271px #fff, 1957px 741px #fff,
    1079px 1787px #fff, 822px 826px #fff, 1606px 1933px #fff, 1799px 1494px #fff,
    447px 1862px #fff, 501px 670px #fff, 1762px 3px #fff, 170px 1960px #fff,
    717px 1364px #fff, 817px 1003px #fff, 1221px 850px #fff, 1312px 1877px #fff,
    1877px 1122px #fff, 1265px 485px #fff, 419px 403px #fff, 1991px 1816px #fff,
    1696px 88px #fff, 1549px 1478px #fff, 256px 274px #fff, 1772px 1687px #fff,
    1249px 1756px #fff, 650px 249px #fff, 160px 1586px #fff, 1673px 1413px #fff,
    79px 996px #fff, 832px 432px #fff, 893px 85px #fff, 738px 699px #fff,
    1674px 536px #fff, 873px 6px #fff, 43px 1253px #fff, 935px 1402px #fff,
    872px 1527px #fff, 888px 737px #fff, 736px 1769px #fff, 1759px 226px #fff,
    807px 1271px #fff, 484px 328px #fff, 1502px 125px #fff, 1590px 1452px #fff,
    386px 1541px #fff, 1880px 5px #fff, 1063px 1979px #fff, 427px 1232px #fff,
    1812px 1856px #fff, 1576px 714px #fff, 989px 1037px #fff, 815px 26px #fff,
    131px 1082px #fff, 1624px 494px #fff, 868px 1238px #fff, 1516px 1731px #fff,
    650px 1116px #fff, 321px 444px #fff, 663px 975px #fff, 444px 1558px #fff,
    1010px 591px #fff, 1599px 1691px #fff, 729px 1087px #fff, 142px 1616px #fff,
    279px 228px #fff, 686px 1124px #fff, 641px 1284px #fff, 1388px 538px #fff,
    1402px 1692px #fff, 310px 583px #fff, 1330px 1319px #fff, 213px 455px #fff,
    200px 1127px #fff, 251px 1362px #fff, 1924px 469px #fff, 879px 718px #fff,
    1461px 1680px #fff, 1934px 126px #fff, 1011px 1596px #fff, 1564px 289px #fff,
    1914px 1623px #fff, 393px 1049px #fff, 317px 1217px #fff, 1082px 922px #fff,
    367px 283px #fff, 1474px 759px #fff, 1406px 629px #fff, 1967px 1251px #fff,
    1610px 787px #fff, 1028px 784px #fff, 71px 1465px #fff, 1696px 1740px #fff,
    31px 1034px #fff, 1913px 173px #fff, 809px 1112px #fff, 652px 812px #fff,
    1665px 1160px #fff, 959px 165px #fff, 543px 795px #fff, 1615px 402px #fff,
    1201px 641px #fff, 1974px 1364px #fff, 1520px 1978px #fff, 1878px 95px #fff,
    1716px 1409px #fff, 419px 1541px #fff, 1194px 1499px #fff, 859px 883px #fff,
    1104px 651px #fff, 1804px 734px #fff, 774px 843px #fff, 28px 1703px #fff,
    1559px 1023px #fff, 1370px 1753px #fff, 48px 239px #fff, 1088px 926px #fff,
    391px 964px #fff, 1378px 483px #fff, 1470px 1693px #fff, 1311px 766px #fff,
    747px 402px #fff, 1253px 608px #fff, 74px 100px #fff, 415px 1481px #fff,
    326px 1343px #fff, 627px 738px #fff, 1976px 1868px #fff, 625px 1825px #fff,
    1534px 637px #fff, 121px 48px #fff, 314px 538px #fff, 1469px 1364px #fff,
    1663px 804px #fff, 765px 219px #fff, 1586px 1533px #fff, 291px 305px #fff,
    1681px 398px #fff, 74px 1308px #fff, 559px 1014px #fff, 583px 527px #fff,
    1639px 1327px #fff, 599px 297px #fff, 321px 554px #fff, 997px 1345px #fff,
    1295px 1800px #fff, 13px 1486px #fff, 879px 880px #fff, 1513px 1248px #fff,
    1437px 1822px #fff, 1315px 1906px #fff, 458px 505px #fff, 742px 682px #fff,
    562px 1841px #fff, 1362px 952px #fff, 58px 908px #fff, 888px 850px #fff,
    1888px 804px #fff, 1566px 1255px #fff, 17px 714px #fff, 329px 1016px #fff,
    933px 1820px #fff, 1621px 405px #fff, 1178px 983px #fff, 1804px 715px #fff,
    1491px 955px #fff, 350px 753px #fff, 437px 1024px #fff, 150px 625px #fff,
    746px 1040px #fff, 534px 823px #fff, 1417px 563px #fff, 107px 192px #fff,
    763px 1285px #fff, 563px 240px #fff, 594px 1978px #fff, 1213px 1416px #fff,
    1648px 1594px #fff, 126px 548px #fff, 1940px 333px #fff, 1760px 675px #fff,
    1688px 400px #fff, 834px 275px #fff, 1928px 689px #fff, 1842px 417px #fff,
    985px 1868px #fff, 1905px 341px #fff, 1455px 944px #fff, 792px 557px #fff,
    282px 636px #fff, 333px 16px #fff, 61px 732px #fff, 1255px 210px #fff,
    1629px 1640px #fff, 167px 952px #fff, 1863px 519px #fff, 1420px 1777px #fff,
    1458px 916px #fff, 873px 1884px #fff, 959px 1644px #fff, 1054px 1163px #fff,
    1511px 395px #fff, 1162px 1880px #fff, 1887px 335px #fff, 1227px 1382px #fff,
    1708px 613px #fff, 343px 209px #fff, 1857px 597px #fff, 1324px 1778px #fff,
    31px 1946px #fff, 1244px 299px #fff, 1759px 1417px #fff, 101px 333px #fff,
    826px 627px #fff, 1721px 1455px #fff, 1236px 1377px #fff, 1268px 1972px #fff,
    1754px 273px #fff, 1782px 312px #fff, 1034px 200px #fff, 699px 1125px #fff,
    971px 360px #fff, 1267px 725px #fff, 371px 485px #fff, 43px 1202px #fff,
    363px 281px #fff, 1061px 570px #fff, 1367px 396px #fff, 1389px 1110px #fff,
    1569px 1817px #fff, 1648px 605px #fff, 1305px 1050px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 46px 1268px #fff, 1817px 256px #fff, 1877px 1746px #fff,
    637px 1483px #fff, 115px 1880px #fff, 402px 945px #fff, 822px 205px #fff,
    1068px 152px #fff, 846px 1010px #fff, 1908px 323px #fff, 1357px 1950px #fff,
    1457px 1062px #fff, 1189px 1065px #fff, 562px 52px #fff, 1803px 470px #fff,
    372px 6px #fff, 1729px 256px #fff, 666px 340px #fff, 797px 961px #fff,
    539px 1814px #fff, 969px 528px #fff, 107px 945px #fff, 886px 876px #fff,
    1201px 675px #fff, 1400px 1349px #fff, 169px 247px #fff, 1798px 1224px #fff,
    474px 373px #fff, 1295px 221px #fff, 1859px 167px #fff, 61px 1531px #fff,
    1268px 1890px #fff, 1024px 1869px #fff, 1102px 1018px #fff,
    1835px 1462px #fff, 365px 1784px #fff, 590px 1907px #fff, 1274px 146px #fff,
    1295px 1594px #fff, 434px 1148px #fff, 1490px 474px #fff, 8px 1707px #fff,
    1833px 955px #fff, 1965px 1652px #fff, 111px 154px #fff, 1417px 1452px #fff,
    1493px 930px #fff, 1209px 712px #fff, 808px 1424px #fff, 31px 946px #fff,
    562px 404px #fff, 1562px 234px #fff, 1519px 1987px #fff, 488px 338px #fff,
    1339px 1721px #fff, 534px 431px #fff, 231px 124px #fff, 556px 1684px #fff,
    827px 368px #fff, 713px 1230px #fff, 1093px 308px #fff, 396px 1301px #fff,
    1694px 1139px #fff, 1422px 848px #fff, 183px 1002px #fff, 1409px 1701px #fff,
    819px 811px #fff, 731px 894px #fff, 873px 480px #fff, 640px 296px #fff,
    1343px 1258px #fff, 1493px 1662px #fff, 36px 20px #fff, 40px 328px #fff,
    618px 294px #fff, 137px 706px #fff, 206px 463px #fff, 863px 694px #fff,
    1416px 630px #fff, 1967px 1179px #fff, 1462px 672px #fff, 1003px 70px #fff,
    481px 22px #fff, 643px 1290px #fff, 1627px 1546px #fff, 322px 78px #fff,
    79px 1963px #fff, 1248px 1356px #fff, 1530px 26px #fff, 878px 900px #fff,
    271px 1457px #fff, 1685px 73px #fff, 1819px 1142px #fff, 1793px 301px #fff,
    321px 397px #fff, 107px 689px #fff, 1454px 1947px #fff, 1878px 1476px #fff,
    1053px 1541px #fff, 1523px 425px #fff, 374px 1085px #fff, 953px 1161px #fff,
    769px 1463px #fff, 688px 157px #fff, 1105px 438px #fff, 658px 1524px #fff,
    151px 613px #fff, 1511px 653px #fff, 1277px 989px #fff, 731px 19px #fff,
    1825px 396px #fff, 1116px 998px #fff, 1354px 1105px #fff, 39px 130px #fff,
    1239px 1093px #fff, 635px 1699px #fff, 613px 748px #fff, 1953px 529px #fff,
    63px 796px #fff, 405px 1698px #fff, 1454px 918px #fff, 626px 470px #fff,
    1821px 1004px #fff, 147px 1051px #fff, 1173px 1960px #fff, 678px 293px #fff,
    803px 63px #fff, 426px 1173px #fff, 1528px 1345px #fff, 686px 791px #fff,
    438px 96px #fff, 14px 1764px #fff, 242px 1430px #fff, 1128px 1417px #fff,
    967px 1019px #fff, 286px 1603px #fff, 1860px 370px #fff, 1795px 764px #fff,
    504px 1273px #fff, 830px 922px #fff, 1036px 919px #fff, 155px 1109px #fff,
    779px 1794px #fff, 470px 831px #fff, 132px 574px #fff, 1764px 1502px #fff,
    281px 1358px #fff, 1699px 95px #fff, 1306px 662px #fff, 1067px 1824px #fff,
    1276px 739px #fff, 1900px 796px #fff, 273px 1161px #fff, 658px 590px #fff,
    1472px 406px #fff, 812px 1872px #fff, 371px 1168px #fff, 1328px 511px #fff,
    742px 35px #fff, 401px 716px #fff, 17px 824px #fff, 933px 91px #fff,
    696px 1648px #fff, 773px 1000px #fff, 1794px 1892px #fff, 1489px 1257px #fff,
    1128px 960px #fff, 1999px 1567px #fff, 769px 1360px #fff, 1514px 1064px #fff,
    1622px 36px #fff, 483px 1428px #fff, 27px 439px #fff, 7px 560px #fff,
    1277px 232px #fff, 652px 1937px #fff, 1251px 363px #fff, 1786px 49px #fff,
    1048px 480px #fff, 1958px 1637px #fff, 830px 67px #fff, 1289px 1992px #fff,
    1916px 815px #fff, 1996px 1451px #fff, 664px 832px #fff, 1557px 510px #fff,
    59px 1162px #fff, 1880px 1677px #fff, 1987px 446px #fff, 120px 50px #fff,
    1451px 709px #fff, 662px 411px #fff, 279px 1264px #fff, 1274px 1078px #fff,
    950px 1083px #fff, 1656px 1370px #fff, 1058px 902px #fff, 800px 1885px #fff,
    1473px 1297px #fff, 784px 159px #fff, 1029px 1350px #fff, 22px 1181px #fff,
    600px 660px #fff, 1465px 364px #fff, 303px 1565px #fff, 1535px 279px #fff,
    1480px 1856px #fff, 162px 1109px #fff, 145px 844px #fff, 116px 1958px #fff,
    1310px 905px #fff, 412px 1667px #fff, 30px 1618px #fff, 1425px 1499px #fff,
    647px 1069px #fff, 1146px 536px #fff, 1606px 623px #fff, 1235px 1794px #fff,
    1602px 1607px #fff, 632px 1px #fff, 242px 168px #fff, 601px 192px #fff,
    549px 1917px #fff, 1234px 510px #fff, 718px 1100px #fff, 1524px 138px #fff,
    700px 1552px #fff, 574px 698px #fff, 1510px 28px #fff, 945px 1102px #fff,
    420px 1961px #fff, 1867px 1780px #fff, 170px 1281px #fff, 1753px 936px #fff,
    243px 517px #fff, 792px 924px #fff, 1645px 1948px #fff, 909px 1483px #fff,
    458px 1935px #fff, 1786px 1091px #fff, 281px 1604px #fff, 600px 810px #fff,
    1750px 579px #fff, 361px 266px #fff, 735px 17px #fff, 1309px 1111px #fff,
    655px 151px #fff, 412px 435px #fff, 1047px 806px #fff, 1599px 1176px #fff,
    501px 1147px #fff, 1734px 1788px #fff, 1365px 1331px #fff, 1387px 401px #fff,
    624px 1439px #fff, 789px 1141px #fff, 883px 1333px #fff, 1170px 1196px #fff,
    1815px 1795px #fff, 1609px 1223px #fff, 407px 883px #fff, 347px 1835px #fff,
    725px 1655px #fff, 230px 406px #fff, 1664px 225px #fff, 1075px 1797px #fff,
    1421px 1545px #fff, 86px 1460px #fff, 532px 242px #fff, 1516px 1246px #fff,
    59px 1372px #fff, 1172px 1036px #fff, 920px 50px #fff, 293px 412px #fff,
    716px 1175px #fff, 807px 1548px #fff, 1521px 595px #fff, 775px 1514px #fff,
    348px 1858px #fff, 817px 1277px #fff, 1175px 1497px #fff, 425px 11px #fff,
    1847px 786px #fff, 1038px 518px #fff, 887px 1371px #fff, 698px 1377px #fff,
    1810px 1413px #fff, 1406px 201px #fff, 1118px 1985px #fff, 671px 561px #fff,
    11px 1916px #fff, 1921px 641px #fff, 611px 495px #fff, 1522px 297px #fff,
    1147px 1560px #fff, 1890px 105px #fff, 1990px 395px #fff, 324px 1004px #fff,
    1060px 106px #fff, 1797px 126px #fff, 1170px 944px #fff, 720px 1376px #fff,
    940px 1621px #fff, 1804px 430px #fff, 1721px 1268px #fff, 1013px 581px #fff,
    1207px 1347px #fff, 220px 310px #fff, 1192px 296px #fff, 1895px 311px #fff,
    1675px 514px #fff, 758px 856px #fff, 1286px 1654px #fff, 1721px 645px #fff,
    750px 86px #fff, 689px 1698px #fff, 971px 1692px #fff, 1560px 1412px #fff,
    842px 578px #fff, 881px 1331px #fff, 1713px 1362px #fff, 1544px 799px #fff,
    717px 1513px #fff, 1432px 1136px #fff, 473px 550px #fff, 839px 1907px #fff,
    509px 392px #fff, 1023px 588px #fff, 1941px 855px #fff, 1870px 894px #fff,
    1699px 1056px #fff, 1866px 609px #fff, 1185px 401px #fff, 1039px 923px #fff,
    1097px 1664px #fff, 1711px 580px #fff, 1077px 1034px #fff,
    1266px 1256px #fff, 1472px 1039px #fff, 1372px 404px #fff, 1079px 681px #fff,
    951px 1031px #fff, 1613px 691px #fff, 745px 1555px #fff, 1175px 1486px #fff,
    1264px 1212px #fff, 217px 34px #fff, 667px 666px #fff, 676px 1651px #fff,
    1846px 1873px #fff, 1505px 974px #fff, 1435px 1761px #fff, 191px 1830px #fff,
    284px 1146px #fff, 598px 99px #fff, 1206px 855px #fff, 1996px 1265px #fff,
    1071px 1133px #fff, 1802px 1719px #fff, 1787px 564px #fff, 179px 2000px #fff,
    326px 387px #fff, 1628px 1437px #fff, 113px 1752px #fff, 279px 1103px #fff,
    1646px 1131px #fff, 1830px 1786px #fff, 1222px 942px #fff, 878px 1197px #fff,
    299px 1729px #fff, 1554px 964px #fff, 1293px 1361px #fff, 237px 1962px #fff,
    1448px 718px #fff, 1426px 609px #fff, 789px 429px #fff, 72px 1170px #fff,
    1979px 1961px #fff, 372px 930px #fff, 153px 611px #fff, 1428px 176px #fff,
    796px 13px #fff, 1695px 296px #fff, 226px 800px #fff, 1802px 529px #fff,
    1387px 915px #fff, 624px 1296px #fff, 1458px 1350px #fff, 1827px 827px #fff,
    1199px 140px #fff, 1388px 987px #fff, 455px 1994px #fff, 1385px 1251px #fff,
    816px 1370px #fff, 978px 206px #fff, 1850px 888px #fff, 989px 1043px #fff,
    406px 1492px #fff, 1908px 1466px #fff, 326px 1551px #fff, 1291px 1722px #fff,
    1714px 129px #fff, 1503px 115px #fff, 772px 695px #fff, 1079px 409px #fff,
    1616px 1547px #fff, 340px 1364px #fff, 12px 1627px #fff, 72px 766px #fff,
    737px 1559px #fff, 175px 610px #fff, 459px 664px #fff, 1404px 1301px #fff,
    1149px 1119px #fff, 689px 1533px #fff, 528px 1177px #fff, 1405px 751px #fff,
    1905px 1820px #fff, 1233px 926px #fff, 1974px 677px #fff, 1303px 1127px #fff,
    1234px 1263px #fff, 1866px 178px #fff, 324px 42px #fff, 449px 1119px #fff,
    1914px 129px #fff, 1756px 210px #fff, 660px 1725px #fff, 936px 123px #fff,
    45px 1097px #fff, 708px 1348px #fff, 568px 1102px #fff, 1774px 1268px #fff,
    1727px 1063px #fff, 454px 442px #fff, 1632px 147px #fff, 1527px 1221px #fff,
    1917px 870px #fff, 1019px 1052px #fff, 362px 594px #fff, 726px 685px #fff,
    1929px 1223px #fff, 409px 1796px #fff, 341px 793px #fff, 1338px 1700px #fff,
    1284px 979px #fff, 1856px 163px #fff, 1800px 128px #fff, 1762px 1428px #fff,
    1046px 1574px #fff, 1129px 1981px #fff, 1476px 1815px #fff, 563px 87px #fff,
    1938px 531px #fff, 1115px 1296px #fff, 399px 709px #fff, 1027px 1052px #fff,
    552px 1683px #fff, 1725px 585px #fff, 109px 291px #fff, 407px 1911px #fff,
    1396px 1516px #fff, 231px 1927px #fff, 1852px 1322px #fff, 1257px 855px #fff,
    1974px 1352px #fff, 1013px 958px #fff, 724px 517px #fff, 93px 1226px #fff,
    167px 513px #fff, 372px 1073px #fff, 1077px 271px #fff, 1957px 741px #fff,
    1079px 1787px #fff, 822px 826px #fff, 1606px 1933px #fff, 1799px 1494px #fff,
    447px 1862px #fff, 501px 670px #fff, 1762px 3px #fff, 170px 1960px #fff,
    717px 1364px #fff, 817px 1003px #fff, 1221px 850px #fff, 1312px 1877px #fff,
    1877px 1122px #fff, 1265px 485px #fff, 419px 403px #fff, 1991px 1816px #fff,
    1696px 88px #fff, 1549px 1478px #fff, 256px 274px #fff, 1772px 1687px #fff,
    1249px 1756px #fff, 650px 249px #fff, 160px 1586px #fff, 1673px 1413px #fff,
    79px 996px #fff, 832px 432px #fff, 893px 85px #fff, 738px 699px #fff,
    1674px 536px #fff, 873px 6px #fff, 43px 1253px #fff, 935px 1402px #fff,
    872px 1527px #fff, 888px 737px #fff, 736px 1769px #fff, 1759px 226px #fff,
    807px 1271px #fff, 484px 328px #fff, 1502px 125px #fff, 1590px 1452px #fff,
    386px 1541px #fff, 1880px 5px #fff, 1063px 1979px #fff, 427px 1232px #fff,
    1812px 1856px #fff, 1576px 714px #fff, 989px 1037px #fff, 815px 26px #fff,
    131px 1082px #fff, 1624px 494px #fff, 868px 1238px #fff, 1516px 1731px #fff,
    650px 1116px #fff, 321px 444px #fff, 663px 975px #fff, 444px 1558px #fff,
    1010px 591px #fff, 1599px 1691px #fff, 729px 1087px #fff, 142px 1616px #fff,
    279px 228px #fff, 686px 1124px #fff, 641px 1284px #fff, 1388px 538px #fff,
    1402px 1692px #fff, 310px 583px #fff, 1330px 1319px #fff, 213px 455px #fff,
    200px 1127px #fff, 251px 1362px #fff, 1924px 469px #fff, 879px 718px #fff,
    1461px 1680px #fff, 1934px 126px #fff, 1011px 1596px #fff, 1564px 289px #fff,
    1914px 1623px #fff, 393px 1049px #fff, 317px 1217px #fff, 1082px 922px #fff,
    367px 283px #fff, 1474px 759px #fff, 1406px 629px #fff, 1967px 1251px #fff,
    1610px 787px #fff, 1028px 784px #fff, 71px 1465px #fff, 1696px 1740px #fff,
    31px 1034px #fff, 1913px 173px #fff, 809px 1112px #fff, 652px 812px #fff,
    1665px 1160px #fff, 959px 165px #fff, 543px 795px #fff, 1615px 402px #fff,
    1201px 641px #fff, 1974px 1364px #fff, 1520px 1978px #fff, 1878px 95px #fff,
    1716px 1409px #fff, 419px 1541px #fff, 1194px 1499px #fff, 859px 883px #fff,
    1104px 651px #fff, 1804px 734px #fff, 774px 843px #fff, 28px 1703px #fff,
    1559px 1023px #fff, 1370px 1753px #fff, 48px 239px #fff, 1088px 926px #fff,
    391px 964px #fff, 1378px 483px #fff, 1470px 1693px #fff, 1311px 766px #fff,
    747px 402px #fff, 1253px 608px #fff, 74px 100px #fff, 415px 1481px #fff,
    326px 1343px #fff, 627px 738px #fff, 1976px 1868px #fff, 625px 1825px #fff,
    1534px 637px #fff, 121px 48px #fff, 314px 538px #fff, 1469px 1364px #fff,
    1663px 804px #fff, 765px 219px #fff, 1586px 1533px #fff, 291px 305px #fff,
    1681px 398px #fff, 74px 1308px #fff, 559px 1014px #fff, 583px 527px #fff,
    1639px 1327px #fff, 599px 297px #fff, 321px 554px #fff, 997px 1345px #fff,
    1295px 1800px #fff, 13px 1486px #fff, 879px 880px #fff, 1513px 1248px #fff,
    1437px 1822px #fff, 1315px 1906px #fff, 458px 505px #fff, 742px 682px #fff,
    562px 1841px #fff, 1362px 952px #fff, 58px 908px #fff, 888px 850px #fff,
    1888px 804px #fff, 1566px 1255px #fff, 17px 714px #fff, 329px 1016px #fff,
    933px 1820px #fff, 1621px 405px #fff, 1178px 983px #fff, 1804px 715px #fff,
    1491px 955px #fff, 350px 753px #fff, 437px 1024px #fff, 150px 625px #fff,
    746px 1040px #fff, 534px 823px #fff, 1417px 563px #fff, 107px 192px #fff,
    763px 1285px #fff, 563px 240px #fff, 594px 1978px #fff, 1213px 1416px #fff,
    1648px 1594px #fff, 126px 548px #fff, 1940px 333px #fff, 1760px 675px #fff,
    1688px 400px #fff, 834px 275px #fff, 1928px 689px #fff, 1842px 417px #fff,
    985px 1868px #fff, 1905px 341px #fff, 1455px 944px #fff, 792px 557px #fff,
    282px 636px #fff, 333px 16px #fff, 61px 732px #fff, 1255px 210px #fff,
    1629px 1640px #fff, 167px 952px #fff, 1863px 519px #fff, 1420px 1777px #fff,
    1458px 916px #fff, 873px 1884px #fff, 959px 1644px #fff, 1054px 1163px #fff,
    1511px 395px #fff, 1162px 1880px #fff, 1887px 335px #fff, 1227px 1382px #fff,
    1708px 613px #fff, 343px 209px #fff, 1857px 597px #fff, 1324px 1778px #fff,
    31px 1946px #fff, 1244px 299px #fff, 1759px 1417px #fff, 101px 333px #fff,
    826px 627px #fff, 1721px 1455px #fff, 1236px 1377px #fff, 1268px 1972px #fff,
    1754px 273px #fff, 1782px 312px #fff, 1034px 200px #fff, 699px 1125px #fff,
    971px 360px #fff, 1267px 725px #fff, 371px 485px #fff, 43px 1202px #fff,
    363px 281px #fff, 1061px 570px #fff, 1367px 396px #fff, 1389px 1110px #fff,
    1569px 1817px #fff, 1648px 605px #fff, 1305px 1050px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 471px 1406px #fff, 1029px 1069px #fff, 170px 1573px #fff,
    1770px 659px #fff, 1860px 4px #fff, 914px 1596px #fff, 414px 100px #fff,
    1486px 1951px #fff, 288px 1312px #fff, 1871px 811px #fff, 1092px 1911px #fff,
    682px 552px #fff, 1678px 1426px #fff, 712px 465px #fff, 1253px 1537px #fff,
    1037px 1677px #fff, 193px 651px #fff, 448px 1483px #fff, 129px 1590px #fff,
    620px 1080px #fff, 1821px 1449px #fff, 1428px 1236px #fff, 347px 1057px #fff,
    1003px 277px #fff, 897px 1871px #fff, 1074px 1175px #fff, 1901px 477px #fff,
    791px 1304px #fff, 528px 1670px #fff, 216px 85px #fff, 431px 1854px #fff,
    216px 1329px #fff, 709px 844px #fff, 1291px 1592px #fff, 469px 1943px #fff,
    260px 985px #fff, 1125px 873px #fff, 347px 545px #fff, 598px 69px #fff,
    1054px 1026px #fff, 233px 30px #fff, 1183px 1152px #fff, 1033px 1156px #fff,
    1961px 713px #fff, 1743px 683px #fff, 1560px 1120px #fff, 218px 1402px #fff,
    26px 242px #fff, 1006px 257px #fff, 1217px 837px #fff, 1029px 396px #fff,
    998px 577px #fff, 892px 901px #fff, 1838px 1410px #fff, 929px 1435px #fff,
    574px 315px #fff, 1571px 512px #fff, 1738px 763px #fff, 1721px 1243px #fff,
    101px 1956px #fff, 1509px 1097px #fff, 1660px 161px #fff, 851px 875px #fff,
    192px 251px #fff, 793px 622px #fff, 1093px 1459px #fff, 1786px 264px #fff,
    1546px 44px #fff, 641px 1418px #fff, 1476px 868px #fff, 1718px 114px #fff,
    1232px 311px #fff, 560px 1749px #fff, 1047px 1680px #fff, 228px 305px #fff,
    110px 561px #fff, 265px 497px #fff, 1817px 1421px #fff, 638px 1395px #fff,
    1556px 548px #fff, 285px 1751px #fff, 74px 342px #fff, 870px 829px #fff,
    351px 275px #fff, 942px 1830px #fff, 258px 388px #fff, 45px 1277px #fff,
    821px 1769px #fff, 1235px 855px #fff, 277px 1412px #fff, 1288px 1833px #fff,
    1775px 10px #fff, 679px 1150px #fff, 1153px 1667px #fff, 922px 576px #fff,
    1303px 921px #fff, 1486px 215px #fff, 252px 1073px #fff, 1083px 158px #fff,
    639px 1592px #fff, 1718px 782px #fff, 1456px 263px #fff, 611px 1828px #fff,
    1209px 294px #fff, 41px 1124px #fff, 1285px 656px #fff, 1331px 1451px #fff,
    1909px 1471px #fff, 808px 265px #fff, 1330px 1044px #fff, 395px 424px #fff,
    1424px 1011px #fff, 349px 757px #fff, 415px 748px #fff, 139px 404px #fff,
    23px 184px #fff, 630px 147px #fff, 851px 678px #fff, 1782px 345px #fff,
    965px 90px #fff, 50px 557px #fff, 1938px 1655px #fff, 134px 789px #fff,
    1426px 357px #fff, 397px 713px #fff, 601px 1807px #fff, 39px 1287px #fff,
    1728px 776px #fff, 1250px 89px #fff, 1509px 1530px #fff, 224px 1898px #fff,
    289px 1584px #fff, 1628px 1031px #fff, 597px 805px #fff, 887px 1808px #fff,
    212px 310px #fff, 820px 842px #fff, 1033px 468px #fff, 981px 872px #fff,
    730px 1575px #fff, 365px 1277px #fff, 1726px 260px #fff, 504px 1858px #fff,
    917px 1764px #fff, 1603px 1136px #fff, 320px 281px #fff, 836px 1214px #fff,
    293px 1861px #fff, 901px 1433px #fff, 1088px 996px #fff, 1762px 612px #fff,
    686px 279px #fff, 1283px 1055px #fff, 1964px 219px #fff, 732px 486px #fff,
    708px 318px #fff, 1514px 1950px #fff, 1450px 1329px #fff, 1113px 1863px #fff,
    1668px 1361px #fff, 198px 1971px #fff, 1570px 882px #fff, 1211px 1751px #fff,
    865px 1987px #fff, 343px 1078px #fff, 1384px 1846px #fff, 432px 23px #fff,
    1339px 79px #fff, 1668px 206px #fff, 1732px 237px #fff, 115px 76px #fff,
    350px 1590px #fff, 1961px 1410px #fff, 612px 1669px #fff, 164px 512px #fff,
    714px 391px #fff, 199px 1871px #fff, 1456px 596px #fff, 477px 484px #fff,
    840px 365px #fff, 833px 1308px #fff, 666px 194px #fff, 1665px 1509px #fff,
    817px 470px #fff, 1406px 45px #fff, 199px 1516px #fff, 656px 472px #fff,
    1589px 388px #fff, 1697px 100px #fff, 1321px 1857px #fff, 208px 1484px #fff,
    1534px 95px #fff, 1417px 1315px #fff, 451px 1255px #fff, 11px 708px #fff,
    299px 695px #fff, 1666px 772px #fff, 1678px 338px #fff, 1522px 800px #fff,
    1757px 1564px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 471px 1406px #fff, 1029px 1069px #fff, 170px 1573px #fff,
    1770px 659px #fff, 1860px 4px #fff, 914px 1596px #fff, 414px 100px #fff,
    1486px 1951px #fff, 288px 1312px #fff, 1871px 811px #fff, 1092px 1911px #fff,
    682px 552px #fff, 1678px 1426px #fff, 712px 465px #fff, 1253px 1537px #fff,
    1037px 1677px #fff, 193px 651px #fff, 448px 1483px #fff, 129px 1590px #fff,
    620px 1080px #fff, 1821px 1449px #fff, 1428px 1236px #fff, 347px 1057px #fff,
    1003px 277px #fff, 897px 1871px #fff, 1074px 1175px #fff, 1901px 477px #fff,
    791px 1304px #fff, 528px 1670px #fff, 216px 85px #fff, 431px 1854px #fff,
    216px 1329px #fff, 709px 844px #fff, 1291px 1592px #fff, 469px 1943px #fff,
    260px 985px #fff, 1125px 873px #fff, 347px 545px #fff, 598px 69px #fff,
    1054px 1026px #fff, 233px 30px #fff, 1183px 1152px #fff, 1033px 1156px #fff,
    1961px 713px #fff, 1743px 683px #fff, 1560px 1120px #fff, 218px 1402px #fff,
    26px 242px #fff, 1006px 257px #fff, 1217px 837px #fff, 1029px 396px #fff,
    998px 577px #fff, 892px 901px #fff, 1838px 1410px #fff, 929px 1435px #fff,
    574px 315px #fff, 1571px 512px #fff, 1738px 763px #fff, 1721px 1243px #fff,
    101px 1956px #fff, 1509px 1097px #fff, 1660px 161px #fff, 851px 875px #fff,
    192px 251px #fff, 793px 622px #fff, 1093px 1459px #fff, 1786px 264px #fff,
    1546px 44px #fff, 641px 1418px #fff, 1476px 868px #fff, 1718px 114px #fff,
    1232px 311px #fff, 560px 1749px #fff, 1047px 1680px #fff, 228px 305px #fff,
    110px 561px #fff, 265px 497px #fff, 1817px 1421px #fff, 638px 1395px #fff,
    1556px 548px #fff, 285px 1751px #fff, 74px 342px #fff, 870px 829px #fff,
    351px 275px #fff, 942px 1830px #fff, 258px 388px #fff, 45px 1277px #fff,
    821px 1769px #fff, 1235px 855px #fff, 277px 1412px #fff, 1288px 1833px #fff,
    1775px 10px #fff, 679px 1150px #fff, 1153px 1667px #fff, 922px 576px #fff,
    1303px 921px #fff, 1486px 215px #fff, 252px 1073px #fff, 1083px 158px #fff,
    639px 1592px #fff, 1718px 782px #fff, 1456px 263px #fff, 611px 1828px #fff,
    1209px 294px #fff, 41px 1124px #fff, 1285px 656px #fff, 1331px 1451px #fff,
    1909px 1471px #fff, 808px 265px #fff, 1330px 1044px #fff, 395px 424px #fff,
    1424px 1011px #fff, 349px 757px #fff, 415px 748px #fff, 139px 404px #fff,
    23px 184px #fff, 630px 147px #fff, 851px 678px #fff, 1782px 345px #fff,
    965px 90px #fff, 50px 557px #fff, 1938px 1655px #fff, 134px 789px #fff,
    1426px 357px #fff, 397px 713px #fff, 601px 1807px #fff, 39px 1287px #fff,
    1728px 776px #fff, 1250px 89px #fff, 1509px 1530px #fff, 224px 1898px #fff,
    289px 1584px #fff, 1628px 1031px #fff, 597px 805px #fff, 887px 1808px #fff,
    212px 310px #fff, 820px 842px #fff, 1033px 468px #fff, 981px 872px #fff,
    730px 1575px #fff, 365px 1277px #fff, 1726px 260px #fff, 504px 1858px #fff,
    917px 1764px #fff, 1603px 1136px #fff, 320px 281px #fff, 836px 1214px #fff,
    293px 1861px #fff, 901px 1433px #fff, 1088px 996px #fff, 1762px 612px #fff,
    686px 279px #fff, 1283px 1055px #fff, 1964px 219px #fff, 732px 486px #fff,
    708px 318px #fff, 1514px 1950px #fff, 1450px 1329px #fff, 1113px 1863px #fff,
    1668px 1361px #fff, 198px 1971px #fff, 1570px 882px #fff, 1211px 1751px #fff,
    865px 1987px #fff, 343px 1078px #fff, 1384px 1846px #fff, 432px 23px #fff,
    1339px 79px #fff, 1668px 206px #fff, 1732px 237px #fff, 115px 76px #fff,
    350px 1590px #fff, 1961px 1410px #fff, 612px 1669px #fff, 164px 512px #fff,
    714px 391px #fff, 199px 1871px #fff, 1456px 596px #fff, 477px 484px #fff,
    840px 365px #fff, 833px 1308px #fff, 666px 194px #fff, 1665px 1509px #fff,
    817px 470px #fff, 1406px 45px #fff, 199px 1516px #fff, 656px 472px #fff,
    1589px 388px #fff, 1697px 100px #fff, 1321px 1857px #fff, 208px 1484px #fff,
    1534px 95px #fff, 1417px 1315px #fff, 451px 1255px #fff, 11px 708px #fff,
    299px 695px #fff, 1666px 772px #fff, 1678px 338px #fff, 1522px 800px #fff,
    1757px 1564px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1661px 1262px #fff, 888px 1725px #fff, 707px 1833px #fff,
    1229px 155px #fff, 870px 1724px #fff, 162px 357px #fff, 1590px 1400px #fff,
    316px 1529px #fff, 797px 1621px #fff, 204px 1862px #fff, 450px 1728px #fff,
    215px 1600px #fff, 1554px 24px #fff, 1621px 1498px #fff, 1481px 1955px #fff,
    1389px 1757px #fff, 214px 1484px #fff, 1084px 1207px #fff,
    1437px 1159px #fff, 1906px 681px #fff, 923px 887px #fff, 576px 388px #fff,
    1176px 492px #fff, 782px 1018px #fff, 1549px 1148px #fff, 237px 651px #fff,
    436px 45px #fff, 1327px 1100px #fff, 668px 372px #fff, 1925px 932px #fff,
    325px 1372px #fff, 1451px 1530px #fff, 895px 94px #fff, 771px 1585px #fff,
    1387px 811px #fff, 141px 749px #fff, 962px 1884px #fff, 788px 1608px #fff,
    1986px 785px #fff, 618px 263px #fff, 290px 1619px #fff, 870px 73px #fff,
    1794px 992px #fff, 781px 532px #fff, 77px 1251px #fff, 253px 1849px #fff,
    1482px 129px #fff, 1239px 1647px #fff, 119px 1015px #fff, 350px 1853px #fff,
    207px 1842px #fff, 710px 360px #fff, 634px 1005px #fff, 254px 1365px #fff,
    1062px 92px #fff, 1212px 1307px #fff, 396px 249px #fff, 1214px 1459px #fff,
    490px 1555px #fff, 1770px 794px #fff, 481px 1107px #fff, 154px 941px #fff,
    1562px 1223px #fff, 877px 1589px #fff, 401px 583px #fff, 699px 1711px #fff,
    1031px 1821px #fff, 762px 1582px #fff, 1343px 770px #fff, 1584px 434px #fff,
    1479px 458px #fff, 1684px 1375px #fff, 734px 1635px #fff, 1295px 1602px #fff,
    448px 1604px #fff, 1745px 1313px #fff, 1482px 1668px #fff, 997px 1365px #fff,
    772px 1719px #fff, 1062px 701px #fff, 1764px 1207px #fff, 117px 321px #fff,
    1352px 1739px #fff, 653px 629px #fff, 1388px 424px #fff, 894px 1872px #fff,
    621px 1580px #fff, 691px 1336px #fff, 1621px 1055px #fff, 418px 1200px #fff,
    1491px 964px #fff, 1312px 1480px #fff, 1984px 1651px #fff, 638px 200px #fff,
    1460px 324px #fff, 360px 85px #fff, 1307px 704px #fff, 1205px 1025px #fff,
    353px 1px #fff, 1129px 1145px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1661px 1262px #fff, 888px 1725px #fff, 707px 1833px #fff,
    1229px 155px #fff, 870px 1724px #fff, 162px 357px #fff, 1590px 1400px #fff,
    316px 1529px #fff, 797px 1621px #fff, 204px 1862px #fff, 450px 1728px #fff,
    215px 1600px #fff, 1554px 24px #fff, 1621px 1498px #fff, 1481px 1955px #fff,
    1389px 1757px #fff, 214px 1484px #fff, 1084px 1207px #fff,
    1437px 1159px #fff, 1906px 681px #fff, 923px 887px #fff, 576px 388px #fff,
    1176px 492px #fff, 782px 1018px #fff, 1549px 1148px #fff, 237px 651px #fff,
    436px 45px #fff, 1327px 1100px #fff, 668px 372px #fff, 1925px 932px #fff,
    325px 1372px #fff, 1451px 1530px #fff, 895px 94px #fff, 771px 1585px #fff,
    1387px 811px #fff, 141px 749px #fff, 962px 1884px #fff, 788px 1608px #fff,
    1986px 785px #fff, 618px 263px #fff, 290px 1619px #fff, 870px 73px #fff,
    1794px 992px #fff, 781px 532px #fff, 77px 1251px #fff, 253px 1849px #fff,
    1482px 129px #fff, 1239px 1647px #fff, 119px 1015px #fff, 350px 1853px #fff,
    207px 1842px #fff, 710px 360px #fff, 634px 1005px #fff, 254px 1365px #fff,
    1062px 92px #fff, 1212px 1307px #fff, 396px 249px #fff, 1214px 1459px #fff,
    490px 1555px #fff, 1770px 794px #fff, 481px 1107px #fff, 154px 941px #fff,
    1562px 1223px #fff, 877px 1589px #fff, 401px 583px #fff, 699px 1711px #fff,
    1031px 1821px #fff, 762px 1582px #fff, 1343px 770px #fff, 1584px 434px #fff,
    1479px 458px #fff, 1684px 1375px #fff, 734px 1635px #fff, 1295px 1602px #fff,
    448px 1604px #fff, 1745px 1313px #fff, 1482px 1668px #fff, 997px 1365px #fff,
    772px 1719px #fff, 1062px 701px #fff, 1764px 1207px #fff, 117px 321px #fff,
    1352px 1739px #fff, 653px 629px #fff, 1388px 424px #fff, 894px 1872px #fff,
    621px 1580px #fff, 691px 1336px #fff, 1621px 1055px #fff, 418px 1200px #fff,
    1491px 964px #fff, 1312px 1480px #fff, 1984px 1651px #fff, 638px 200px #fff,
    1460px 324px #fff, 360px 85px #fff, 1307px 704px #fff, 1205px 1025px #fff,
    353px 1px #fff, 1129px 1145px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
