*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainSocial {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.itemSocial a {
  text-decoration: none;
  width: clamp(3.5rem, 4.8rem, 6rem);
  height: clamp(3.5rem, 4.8rem, 6rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.itemSocial a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 2 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.itemSocial:hover a::before {
  scale: 1 1;
}

.iconSocial {
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease;
  z-index: 2;
}

.itemSocial a:hover .iconSocial {
  color: #fff;
  transform: rotateY(360deg);
}

.itemSocial:nth-child(5) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.itemSocial:nth-child(2) {
  --bg-color: #0a66c2;
}
.itemSocial:nth-child(3) {
  --bg-color: #ea4335;
}
.itemSocial:nth-child(1) {
  --bg-color: #333;
}
.itemSocial:nth-child(4) {
  --bg-color: #97a0f7;
}
@media (max-width: 768px) {
  .mainSocial {
    flex-direction: column;
    margin-top: 2rem;
  }

  ul {
    gap: clamp(0.3rem, 0.5rem, 1rem);
  }

  .itemSocial a {
    width: clamp(3rem, 4.5rem, 5.5rem);
    height: clamp(3rem, 4.5rem, 5.5rem);
  }
}
